@media (max-width: 1600px) {
  .header .header-desctop .header__logo {
    margin-left: 10%;
  }
  .header .header-desctop .header__button {
    margin-left: 3%;
  }
  .header .header-desctop .header__button:nth-child(2) {
    margin-left: 30%;
  }
  .about .about__info-elem {
    width: 80%;
  }
  .banners {
    width: 80%;
    margin-bottom: 123px;
  }
  .banners .banner-section:nth-child(1) {
    width: 40%;
  }
  .banners .banner-section:nth-child(2) {
    width: 20%;
  }
  .banners .banner-section:nth-child(3) {
    width: 20%;
  }
  .banners .banner-section:nth-child(4) {
    width: 20%;
  }
  .footer .contacts-block {
    width: 90%;
  }
}
@media (max-width: 1280px) {
  .header .header-desctop .header__logo {
    margin-left: 5%;
  }
  .header .header-desctop .header__button:nth-child(2) {
    margin-left: 20%;
  }
  .banners {
    width: 90%;
  }
  .footer {
    height: 100%;
    margin-top: 76px;
  }
  .footer .contacts-block {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .footer .contacts-block .contacts-block__title {
    margin-left: 50px;
    margin-top: 0;
    width: 20%;
  }
  .footer .contacts-block .contacts-block__contacts {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
  }
  .footer .contacts-block .contacts-block__contacts .contact {
    margin-top: 20px;
  }
  .footer .contacts-block .contacts-block__contacts .contact a {
    margin-left: 10px;
  }
  .footer .contacts-block .contacts-block__contacts .contact:nth-child(1) {
    margin-left: 30%;
  }
  .footer .contacts-block .contacts-block__contacts .contact:nth-child(2) {
    margin-left: 30%;
  }
  .footer .contacts-block .contacts-block__contacts .contact:nth-child(3) {
    margin-left: 30%;
  }
  .footer .contacts-block .contacts-block__contacts .contact:nth-child(4) {
    margin-left: 30%;
  }
  .footer .map-block {
    margin-top: 15px;
  }
}
@media (max-width: 1024px) {
  .banners {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banners .banner-section:nth-child(1) {
    width: 100%;
  }
  .banners .banner-section:nth-child(1) .banner-section__title {
    margin-top: 60px;
  }
  .banners .banner-section:nth-child(1) .banner-section__title .title__border {
    margin-right: 0;
  }
  .banners .banner-section:nth-child(2) {
    width: 100%;
  }
  .banners .banner-section:nth-child(3) {
    width: 100%;
  }
  .banners .banner-section:nth-child(3) .banner-section__title {
    margin-top: 60px;
  }
  .banners .banner-section:nth-child(3) .banner-section__title .title__border {
    margin-left: 0;
  }
  .banners .banner-section:nth-child(4) {
    width: 100%;
  }
  .banners .banner-section:nth-child(4) .banner-section__title {
    margin-top: 60px;
  }
  .banners .banner-section:nth-child(4) .banner-section__title .title__border {
    margin-left: 0;
  }
  .banners .banner-section .banner-section__banner .banner__row {
    display: flex;
    justify-content: space-around;
  }
  .banners .banner-section .banner-section__banner .banner__row .banner__elem {
    margin: 0;
  }
  .banners .banner-section:nth-child(1) .banner-section__banner .banner__row:nth-child(1) .banner__elem:nth-child(2) {
    margin: 95px 0 0 0;
  }
  .banners .banner-section:nth-child(1) .banner-section__banner .banner__row:nth-child(1) .banner__elem:nth-child(2) a {
    margin-top: 34px;
  }
  .banners .banner-section:nth-child(1) .banner-section__banner .banner__row:nth-child(2) .banner__elem:nth-child(1) {
    margin: 0 0 19px 0;
  }
  .banners .banner-section:nth-child(1) .banner-section__banner .banner__row:nth-child(2) .banner__elem:nth-child(1) a {
    margin-top: 35px;
  }
  .banners .banner-section:nth-child(1) .banner-section__banner .banner__row:nth-child(2) .banner__elem:nth-child(2) {
    margin: 0 0 18px 0;
  }
  .banners .banner-section:nth-child(1) .banner-section__banner .banner__row:nth-child(2) .banner__elem:nth-child(2) a {
    margin-top: 24px;
  }
  .banners .banner-section:nth-child(1) .banner-section__banner .banner__row:nth-child(3) .banner__elem:nth-child(1) {
    margin: 0 0 35px 0;
  }
  .banners .banner-section:nth-child(1) .banner-section__banner .banner__row:nth-child(3) .banner__elem:nth-child(1) a {
    margin-top: 43px;
  }
  .banners .banner-section:nth-child(1) .banner-section__banner .banner__row:nth-child(3) .banner__elem:nth-child(2) {
    margin: 0 0 35px 0;
  }
  .banners .banner-section:nth-child(1) .banner-section__banner .banner__row:nth-child(3) .banner__elem:nth-child(2) a {
    margin-top: 40px;
  }
  .banners .banner-section:nth-child(1) .banner-section__banner .banner__row:nth-child(4) .banner__elem {
    margin: 0 0 54px 0;
  }
  .banners .banner-section:nth-child(1) .banner-section__banner .banner__row:nth-child(4) .banner__elem a {
    margin-top: 26px;
  }
  .banners .banner-section:nth-child(2) .banner-section__banner .banner__row:nth-child(1) .banner__elem {
    margin: 0;
  }
  .banners .banner-section:nth-child(2) .banner-section__banner .banner__row:nth-child(1) .banner__elem a {
    margin-top: 35px;
  }
  .banners .banner-section:nth-child(2) .banner-section__banner .banner__row:nth-child(2) .banner__elem {
    margin: 0 0 18px 0;
  }
  .banners .banner-section:nth-child(2) .banner-section__banner .banner__row:nth-child(2) .banner__elem a {
    margin-top: 52px;
  }
  .banners .banner-section:nth-child(3) .banner-section__banner .banner__row:nth-child(1) .banner__elem {
    margin: 0;
  }
  .banners .banner-section:nth-child(3) .banner-section__banner .banner__row:nth-child(1) .banner__elem a {
    margin-top: 27px;
  }
  .banners .banner-section:nth-child(3) .banner-section__banner .banner__row:nth-child(2) .banner__elem {
    margin: 0 0 17px 0;
  }
  .banners .banner-section:nth-child(3) .banner-section__banner .banner__row:nth-child(2) .banner__elem a {
    margin-top: 16px;
  }
  .banners .banner-section:nth-child(3) .banner-section__banner .banner__row:nth-child(3) .banner__elem {
    margin: 0 0 35px 0;
  }
  .banners .banner-section:nth-child(3) .banner-section__banner .banner__row:nth-child(3) .banner__elem a {
    margin-top: 32px;
  }
  .banners .banner-section:nth-child(4) .banner-section__banner .banner__row:nth-child(1) .banner__elem {
    margin: 0;
  }
  .banners .banner-section:nth-child(4) .banner-section__banner .banner__row:nth-child(1) .banner__elem a {
    margin-top: 33px;
  }
  .banners .banner-section:nth-child(4) .banner-section__banner .banner__row:nth-child(2) .banner__elem {
    margin: 0 0 17px 0;
  }
  .banners .banner-section:nth-child(4) .banner-section__banner .banner__row:nth-child(2) .banner__elem a {
    margin-top: 25px;
  }
  .banners .banner-section:nth-child(4) .banner-section__banner .banner__row:nth-child(3) .banner__elem {
    margin: 0 0 35px 0;
  }
  .banners .banner-section:nth-child(4) .banner-section__banner .banner__row:nth-child(3) .banner__elem a {
    margin-top: 18px;
  }
}
@media (max-width: 768px) {
  .header .header-desctop {
    display: none;
  }
  .header .header-mobile {
    display: flex;
  }
  .header .header-mobile .header__logo {
    margin-left: 5%;
  }
  .header .header-mobile .header__button:nth-child(2) {
    margin-left: auto;
    margin-right: 5%;
  }
}
@media (max-width: 512px) {
  .header .header-desctop .header__logo {
    margin-left: 5%;
  }
  .header .header-desctop .header__button {
    margin-left: 3%;
  }
  .header .header-desctop .header__button:nth-child(2) {
    margin-left: 10%;
  }
  .about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f6f6f5;
  }
  .about .about__title {
    display: flex;
    justify-content: center;
    margin: 62px 0 90px 0;
  }
  .about .about__title h2 {
    font-size: 60px;
    font-weight: 400;
    color: #4c5866;
    text-transform: uppercase;
  }
  .about .about__info-elem {
    display: flex;
    flex-direction: column;
  }
  .about .about__info-elem:before {
    display: none;
  }
  .about .about__info-elem .info-elem__description {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }
  .footer .contacts-block {
    display: flex;
    justify-content: start;
  }
  .footer .contacts-block .contacts-block__title {
    display: none;
  }
}
@media (max-width: 320px) {
  .header .header-mobile {
    display: flex;
    justify-content: center;
  }
  .header .header-mobile .header__logo a h1 {
    font-size: 30px;
  }
  .header .header-mobile .header__button:nth-child(2) {
    margin-left: 5%;
  }
  .banners .banner-section:nth-child(1) .banner-section__banner .banner__row {
    flex-direction: column;
    height: 100%;
  }
  .banners .banner-section:nth-child(1) .banner-section__banner .banner__row:nth-child(1) .banner__elem:nth-child(1) {
    margin-top: 40px;
  }
  .banners .banner-section:nth-child(1) .banner-section__banner .banner__row:nth-child(1) .banner__elem:nth-child(2) {
    margin-top: 20px;
  }
  .banners .banner-section:nth-child(1) .banner-section__banner .banner__row:nth-child(2) .banner__elem:nth-child(1) {
    margin-top: 40px;
  }
  .banners .banner-section:nth-child(1) .banner-section__banner .banner__row:nth-child(2) .banner__elem:nth-child(2) {
    margin-top: 20px;
  }
  .footer .contacts-block {
    display: flex;
    justify-content: start;
  }
  .footer .contacts-block .contacts-block__contacts {
    width: 100%;
  }
  .footer .contacts-block .contacts-block__contacts .contact:nth-child(1) {
    margin-left: 5%;
  }
  .footer .contacts-block .contacts-block__contacts .contact:nth-child(2) {
    margin-left: 5%;
  }
  .footer .contacts-block .contacts-block__contacts .contact:nth-child(3) {
    margin-left: 5%;
  }
  .footer .contacts-block .contacts-block__contacts .contact:nth-child(4) {
    margin-left: 5%;
  }
}
