@media (max-width: 1600px) {
  // .header {
  //   width: 90%;
  // }

  .footer {
    & .contacts-block {
      width: 100%;
      & .contacts-block__contacts {
        justify-content: space-evenly;
        & .contact {
          &:nth-child(1) {
            margin-left: 0;
          }

          &:nth-child(2) {
            margin-left: 0;
          }

          &:nth-child(3) {
            margin-left: 0;
          }

          &:nth-child(4) {
            margin-left: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .about {
    & .about__info-elem {
      width          : 90%;
    }
  }
  
  .banners {
    width: 90%;
  }

  .footer {
    height    : 100%;
    margin-top: 76px;

    & .contacts-block {
      width          : 30%;
    
      & .contacts-block__title {
        padding: 30px 0 30px;
      }

      & .contacts-block__contacts {
        display        : flex;
        justify-content: start;
        align-items    : start;
        flex-direction : column;

        & .contact {
          margin: 20px 0;

          & a {
            margin-left: 20px;
          }

          &:nth-child(1) {
            margin-left: 0;
          }

          &:nth-child(2) {
            margin-left: 0;
          }

          &:nth-child(3) {
            margin-left: 0;
          }

          &:nth-child(4) {
            margin-left: 0;
          }
        }
      }
    }

    & .map-block {
      margin-top: 15px;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    & div {
      & .header-desctop {
        & .header__button {
          margin-left: 20px;
        }
      }
    }
  }
  .banners {
    width          : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;

    & .banner-section {
      &:nth-child(1) {
        width: 100%;

        & .banner-section__title {
          margin-top: 60px;

          & .title__border {
            margin-right: 0;
          }
        }
      }

      &:nth-child(2) {
        width: 100%;
      }

      &:nth-child(3) {
        width: 100%;

        & .banner-section__title {
          margin-top: 60px;

          & .title__border {
            margin-left: 0;
          }
        }
      }

      &:nth-child(4) {
        width: 100%;

        & .banner-section__title {
          margin-top: 60px;

          & .title__border {
            margin-left: 0;
          }
        }

      }

      & .banner-section__banner {
        & .banner__row {
          display        : flex;
          justify-content: space-evenly;

          & .banner__elem {
            margin: 0;
          }
        }
      }

      &:nth-child(1) {
        & .banner-section__banner {
          & .banner__row {
            &:nth-child(1) {
              & .banner__elem {
                &:nth-child(2) {
                  margin: 95px 0 0 0;

                  & a {
                    margin-top: 34px;
                  }
                }
              }
            }

            &:nth-child(2) {
              & .banner__elem {
                &:nth-child(1) {
                  margin: 0 0 19px 0;

                  & a {
                    margin-top: 35px;
                  }
                }

                &:nth-child(2) {
                  margin: 0 0 18px 0;

                  & a {
                    margin-top: 24px;
                  }
                }
              }
            }

            &:nth-child(3) {
              & .banner__elem {
                &:nth-child(1) {
                  margin: 0 0 35px 0;

                  & a {
                    margin-top: 43px;
                  }
                }

                &:nth-child(2) {
                  margin: 0 0 35px 0;

                  & a {
                    margin-top: 40px;
                  }
                }
              }
            }

            &:nth-child(4) {
              & .banner__elem {

                margin: 0 0 54px 0;

                & a {
                  margin-top: 26px;
                }

              }
            }
          }
        }
      }

      &:nth-child(2) {
        & .banner-section__banner {
          & .banner__row {
            &:nth-child(1) {
              & .banner__elem {
                margin: 0;

                & a {
                  margin-top: 35px;
                }
              }
            }

            &:nth-child(2) {
              & .banner__elem {
                margin: 0 0 18px 0;

                & a {
                  margin-top: 52px;
                }
              }
            }
          }
        }
      }

      &:nth-child(3) {
        & .banner-section__banner {
          & .banner__row {
            &:nth-child(1) {
              & .banner__elem {
                margin: 0;

                & a {
                  margin-top: 27px;
                }
              }
            }

            &:nth-child(2) {
              & .banner__elem {
                margin: 0 0 17px 0;

                & a {
                  margin-top: 16px;
                }
              }
            }

            &:nth-child(3) {
              & .banner__elem {
                margin: 0 0 35px 0;

                & a {
                  margin-top: 32px;
                }
              }
            }
          }
        }
      }

      &:nth-child(4) {
        & .banner-section__banner {
          & .banner__row {
            &:nth-child(1) {
              & .banner__elem {
                margin: 0;

                & a {
                  margin-top: 33px;
                }
              }
            }

            &:nth-child(2) {
              & .banner__elem {
                margin: 0 0 17px 0;

                & a {
                  margin-top: 25px;
                }
              }
            }

            &:nth-child(3) {
              & .banner__elem {
                margin: 0 0 35px 0;

                & a {
                  margin-top: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    & div {
      & .header__logo {
        margin-left: 30px;
      }
      & .header-desctop {
        display: none;
      }
  
      & .header-mobile {
        display: flex;
        & .header__button {
          margin-left: auto;
        }
      }
    }
  }
  .footer {
    height    : 100%;
    margin-top: 76px;

    & .contacts-block {
      width          : 50%;
    }
  }
}

@media (max-width: 512px) {
  .header {
    & div {
      & .header__logo {
        & a {
          font-size  : 30px;
        }
      }
    }
  }

  .carousel {
    height: 400px;
  }

  .about {
    display         : flex;
    justify-content : center;
    flex-direction  : column;
    background-color: #f6f6f5;

    & .about__title {
      display        : flex;
      justify-content: center;
      margin         : 62px 0 90px 0;

      & h2 {
        font-size     : 60px;
        font-weight   : 400;
        color         : #4c5866;
        text-transform: uppercase;
      }
    }

    & .about__info-elem {
      display       : flex;
      flex-direction: column;

      &:before {
        display: none;
      }

      & .info-elem__description {
        margin-left: 0;
        margin-top : 20px;
        text-align : center;
      }
    }
  }

  .footer {
    & .contacts-block {
      display        : flex;
      justify-content: start;
      width: 60%;
    }
  }
}

@media (max-width: 320px) {
  .header {
    & div {
      & .header-mobile {
        display: flex;
        justify-content: center;
        
        & .header__button {
          &:nth-child(2) {
            margin-left: 5%;
          }
        }
      }
    }
  }
  .banners {
    & .banner-section {
      &:nth-child(1) {
        & .banner-section__banner {
          & .banner__row {
            flex-direction : column;
            height         : 100%;
            &:nth-child(1){
              & .banner__elem {
                &:nth-child(1) {
                  margin-top: 40px;
                }
                &:nth-child(2) {
                  margin-top: 20px;
                }
              }
            }
            &:nth-child(2){
              & .banner__elem {
                &:nth-child(1) {
                  margin-top: 40px;
                }
                &:nth-child(2) {
                  margin-top: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
  .footer {
    & .contacts-block {
      width          : 100%;

      & .contacts-block__contacts {
        display        : flex;
        justify-content: center;
        align-items    : center;
        flex-direction : column;

        & .contact {
          margin: 20px auto;

          & a {
            margin-left: 20px;
          }

          & img {
            margin-left: 20px;
          }
        }
      }
    }
  }
}