body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
.header {
  height: 81px;
  display: flex;
  text-transform: uppercase;
}
.header ul {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.header ul .header__logo {
  font-size: 29px;
  margin-right: 451px;
}
.header ul .header__logo a {
  color: #3a4858;
}
.header ul .header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  margin-right: 3%;
}
.header ul .header__button a {
  color: #4c5866;
}
